		body {
		text-align: center;
		background-color: /*rgba(255,175,13, .8)*/;
		margin: 0;
	}
header{
	background-color: #f15B31;
	color: white;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: white;
	padding: 20px 20px;
}

main{
	width: 850px;
	margin: 35px auto;
}

a {
	margin: 0 20px;
	border-bottom: 2px solid transparent;
	color: white;
}

a:hover {border-color: white;}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
/*color: #0D2C40;*/
letter-spacing: 1px;
font-weight: 400;
font-size: 45px
text-transform: uppercase;
margin: 0;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

	h2 {
	font-family: "Raleway", serif;
/*	color: #0D2C40;*/
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	}

img {
	margin: 40px 8px 0px 8px;
}

footer {
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "railway";
	float: left;
}
.message {
	font-family: "railway";
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #f15B31;
	font-weight: 700;
}

.socialmedia {
	float: center;
}